#navbar {
    background-color: #f8f5f5;
    position: fixed;
    top: -50px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 1036;
    font-weight: bold;
}

#navbar a {
    float: left;
    display: block;
    color: #595959;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    color: darkblue;
}
